body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  background-color:black;
  margin: 36px 30px 34px 30px;
  padding:43px 61px 29px  61px;
}

header {
  color:white;
  font-family: 'Space Grotesk';
  background-image: url(/Users/machadomaria/Desktop/frontend/Sites/17-techmag/img/bckgrnd.jpg);
}

nav {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

a.cta {
  color:#e3f4ff;
  padding: 7px 45px 7px 45px;
  border-radius: 10px;
  background-color: #060e17;
  text-decoration:none;
  margin-bottom: 18px;
}

a.cta-light {
  color:#060e17;
  padding: 7px 45px 7px 45px;
  border-radius: 10px;
  background-color: #e3f4ff;
  text-decoration:none ;
  margin-bottom:30px;
}

main {
  font-family: 'Space Grotesk';
}

.section-light {
  font-family: 'Space Grotesk';
  background-color:#e3f4ff;
  padding: 75px 63px 75px 63px;
  text-align: center;
}

.section-dark {
  color: #e3f4ff ;
  background-color: #060e17;
  padding: 75px 63px 75px 63px;
  text-align: center;
}
.card {
  color:#060e17;
  background-color:#e3f4ff;
  padding: 37px;
  border-radius: 10px;;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  margin-bottom:63px;

}

footer {
  background-color:#060e17;
}