body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  background-color:black;
  margin: 36px 30px 34px 30px;
  padding:43px 61px 29px  61px;
}

header {
  color:white;
  font-family: 'Space Grotesk';
  background-image:
}

a.cta {
  background-color: #060e17;
  text-decoration:none ;
}

a.cta-light {
  background-color: #e3f4ff;
  text-decoration:none ;
}

main {
  font-family: 'Space Grotesk';
}

.section-light {
  font-family: 'Space Grotesk';
  background-color:#e3f4ff
}

.section-dark {
  color: #e3f4ff ;
  background-color: #060e17;
}

footer {
  background-color:#060e17;
}